---
import SideList from "@components/SideList.astro";
import TitleBar from "@components/TitleBar.astro";
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";
import { dateToString } from "src/utils";
const { entry } = Astro.props;

const noteType = entry.data.type;
const noteEntries = await getCollection("note");

const listItems = noteEntries
  .filter((note) => note.data.type === noteType)
  .map((note) => ({
    title: note.data.title,
    date: dateToString(note.data.date),
    href: "/notes/" + note.slug,
  }));

export async function getStaticPaths() {
  const noteEntries = await getCollection("note");
  return noteEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="flex flex-1">
    <div class="flex w-full">
      <SideList listItems={listItems} title={noteType.toUpperCase()} />
      <article
        class="relative flex max-h-screen w-full flex-col overflow-y-auto"
      >
        <TitleBar detailPage="true" backHref="/notes" />
        <div class="mx-auto w-full max-w-3xl px-4 py-12 pb-24 md:px-8">
          <div class="space-y-3">
            <h1 class="text-primary font-sans text-2xl font-bold xl:text-3xl">
              {entry.data.title}
            </h1>
            <span class="text-truegray inline-block leading-snug">
              {dateToString(entry.data.date)}
            </span>
          </div>
          <div class="prose mt-8">
            <Content />
          </div>
        </div>
      </article>
    </div>
  </div>
</Layout>
