---
const { title, detailPage, backHref } = Astro.props
---

<script>
  import { openNavBar, closeNavBar } from 'src/utils'

  const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

  const headers = document.querySelectorAll('header.title-header')
  headers.forEach((header) => {
    const container = header.parentElement!

    const refreshHeaderStyle = () => {
      const calcu = container.scrollTop / 200
      const shadowOpacity = calcu > 0.12 ? 0.12 : calcu
      let color = 255
      let opacity = 0.8;
      if(theme === "dark"){
          color = 50;
          opacity = 0.5
      }

      const style = `
        background: rgba(${color},${color},${color},${
          shadowOpacity === 0 ? shadowOpacity : shadowOpacity + opacity
        });
          box-shadow: rgba(0,0,0,${shadowOpacity}) 0 1px 3px;
          min-height: 48px;
      `
      header.setAttribute('style', style)
    }

    container.addEventListener('scroll', refreshHeaderStyle)
    refreshHeaderStyle()
  })

  const menuBtns = document.querySelectorAll('.menu-btn')
  if (menuBtns) {
    menuBtns.forEach((menuBtn) => {
      const [menuIcon, closeIcon] = menuBtn.children
      menuIcon.addEventListener('click', openNavBar)
      closeIcon.addEventListener('click', closeNavBar)
    })
  }
</script>

<header
  style="min-height: 48px;"
  class="title-header filter-blur sticky top-0 z-10 flex flex-col justify-center px-3 py-2 dark:border-b dark:border-gray-900"
>
  <div class="flex items-center justify-between flex-none">
    <span class="flex items-center space-x-3">
      {
        !detailPage && (
          <span class="menu-btn flex items-center justify-center p-2 rounded-md cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 lg:hidden">
            <div class="i-carbon-menu" />
            <div class="i-carbon-close hidden" />
          </span>
        )
      }

      {
        detailPage && (
          <a
            id="backBtn"
            href={backHref}
            class=" flex items-center justify-center p-2 rounded-md text-primary hover:bg-gray-200 dark:hover:bg-gray-800"
          >
            <div class="i-carbon-arrow-left" />
          </a>
        )
      }

      <h2 class="text-sm font-bold text-primary transform-gpu line-clamp-1">
        {title}
      </h2>
    </span>
    <slot />
  </div>
</header>
