---
import SideList from "@components/SideList.astro";
import TitleBar from "@components/TitleBar.astro";
import { getCollection } from "astro:content";
import Layout from "src/layouts/Layout.astro";
import { dateToString, sortedPost } from "src/utils";

const blogs = await sortedPost();
const listItems = blogs.map((blog) => ({
  title: blog.data.title,
  date: dateToString(blog.data.date),
  href: "/writing/" + blog.slug,
  top: !!blog.data.sticky,
}));

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={entry.data.title}
  blogImg={entry.data.index_img}
  descriptoin={entry.data.description}
>
  <div class="flex w-full">
    <SideList listItems={listItems} title="Writing" />
    <article
      class="relative flex max-h-screen w-full flex-col overflow-y-auto"
      transition:animate="fade"
    >
      <TitleBar detailPage="true" backHref="/writing" />
      <div class="mx-auto w-full max-w-3xl px-4 py-12 pb-10 md:px-8">
        <div class="space-y-3">
          <h1 class="text-primary font-sans text-2xl font-bold xl:text-3xl">
            {entry.data.title}
          </h1>
          <span class="text-truegray inline-block leading-snug">
            {dateToString(entry.data.date)}
          </span>
        </div>
        <div class="prose mt-8">
          <Content />
        </div>
      </div>
    </article>
  </div>
</Layout>
