---
import { getCollection, render } from "astro:content";
import TitleBar from "@components/TitleBar.astro";
import Layout from "src/layouts/Layout.astro";
import { dateToString } from "src/utils";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  blogImg={post.data.index_img}
  blogDesc={post.data.description}
>
  <div class="flex w-full">
    <article
      class="relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black"
      transition:animate="fade"
    >
      <TitleBar detailPage="true" backHref="/writing" />
      <div class="mx-auto w-full max-w-3xl px-4 pb-24 md:px-8">
        <div class="flex flex-col gap-6">
          <p class="opacity-60">{dateToString(post.data.date)}</p>
          <h1 class="text-[1.75em] font-semibold">
            {post.data.title}
          </h1>
        </div>
        <div class="prose prose-neutral dark:prose-invert text-left wrap-break-word mt-8">
          <Content />
        </div>
      </div>
    </article>
  </div>
</Layout>
